*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.containerHeader{
    width: 100%;
    height: auto;
    display: flex;
    background-image: url("./imagenes/foto-fondo.jpg");
}
.logotipoArgtex{
    width: 50%;
    height: auto;
}
.imgLogo{
    width: 100%;
    height: 300px;
}
.linkNavegacion{
    width: 85%;
    height: 100px;
    text-align: center;
}





